.product {
  cursor: pointer;
  transition: all .25s cubic-bezier(.4,.01,.165,.99);
}

  .product:hover {
    background: #E9554C;
    color: #FFF;
  }


.product__img {
  max-width: 48px;
  padding: 8px;
}

.product__data {
  display: flex;
  align-items: center;
  padding: 12px;
}