.product {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
  .product:last-child {
    border: 0;
  }

.product__img {
  max-width: 48px;
  padding: 8px;
}

.product__data {
  display: flex;
  align-items: center;
  margin-left: 16px;
}