.app-home_container {
  display: flex;
  height: 100%;
}
.app-home {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background: #fff;
  flex: 0 0 50%;
}


.app-inner {
  max-width: 800px;
  width: 100%;
  padding: 0 80px;
  margin-top: 50%;
  transition: margin-top .5s;
}

.app-inner.search--active {
  margin-top: 32px;
}

.app-home_subheader {
  font: 16px 'Karla';
  color: rgba(0, 0, 0, 0.4);
  margin: 20px 0 40px 0;
}


.app-home__header {
  margin-bottom: 40px;
}
.app-home_media {
  flex: 0 0 50%;
}
  .app-home_media img {
    height: 100%;
    object-fit: cover;
  }

.app-home__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-home_title {
  font: 80px/1 'Merriweather';
  color: #000;
  font-weight: bold;
}

.app-home__results {
  opacity: 0;
  font-family: 'Karla';
  margin-top: 32px;
  background: #fff;
  border-radius: 4px;
}

.app-home__results.search--active {
  animation: fadeIn;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.app-home_input {
  width: 100%;
  background: none;
  border: 0;
  font-size: 14px;
  color: #000;
  padding: 12px 0;
  font-family: 'Karla';
}
.app-home_input:focus {
  outline: none;
}

.form-group_container {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  display: block;
  position: relative;
}
  .form-group_container:focus {
    outline: none;
  }
  .form-group_container span {
    transform: scaleX(0);
    border-bottom: 2px solid #E9554C;
    bottom: -2px;
    left: 0;
    right: 0;
    position: absolute;
    outline: none;
    transition: all .25s cubic-bezier(.4,.01,.165,.99);
    transform-origin: left center;
  }
  .form-group_container:hover span {
    transform: scaleX(1);
  }


    ::-webkit-input-placeholder { 
      color: rgba(0, 0, 0, 0.24);
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.24);
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.24);
    }
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.24);
    }

.app-home_link {
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  font: 14px/1 'Karla';
  cursor: pointer;
  color: #E9554C;
}
  .app-home_link span {
    position: relative;
  }

  .app-home_link span:after {
    transition: all .25s cubic-bezier(.4,.01,.165,.99);
    content:'';
    position: absolute;
    height: 1px;
    background: #E9554C;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left center;
  }
  .app-home_link:hover span:after {
    transform: scaleX(1);
  }

  .app-home_link img {
    margin-right: 8px;
  }


  .product {
    margin: 8px auto;
    border-bottom: 1px solid #f2f2f2;
  }

  .product:hover {
    background: #f2f2f2;
  }

  @keyframes fadeIn {
  0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    .app-inner {
      padding: 42px;
      width: 100vw;
    }
  }