
.app-details {
  height: 100%;
  display: flex;
  padding: 24px;
}

.details__img-wrapper {
  display: flex;
  justify-content: center;
  flex: 0 0 40%;
  overflow: hidden;
  position: relative;
}
  .details__imgBack {
    position: absolute;
    top: 40px;
    right: 0;
    cursor: pointer;
  }

  .details__img {
    height: 100%;
    object-fit: cover;
  }

.details__section-wrapper {
  flex: 0 0 60%;
  padding: 40px;
}

.details__title {
  font: 50px/1 'Merriweather';
  color: #000;
  font-weight: bold;
  margin-bottom: 40px;
}
.details__subtitle {
  font: 12px/1 'Karla';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.details__section {
  margin-bottom: 40px;
}

.details__labels {
  margin-bottom: 80px;
}
.details__labelsItem {
  margin-right: 20px
}
  .details__labelsItem:last-child {
    margin-right: 0;
  }

.details__sectionTitle {
  font: 600 22px/1.4 'Karla';
  margin-bottom: 14px;
}
.details__sectionText {
  font: 16px/1.4 'Karla';
  color: rgba(0, 0, 0, 0.7);
}
  .details__sectionText .as-badge {
    color: #fff;
    font-family: 'Karla'
  }

.details__listItem {
  font: 16px/1.4 'Karla';
  margin-bottom: 20px;
  width: 60%;
}

  .details__listItem-link-wrapper a {
    color: #E9554C;
    text-decoration: none;
  }

  .details__listItem-link-wrapper span {
    position: relative;
    z-index: 2;
  }

  .details__listItem-link-wrapper span:after {
    transition: all .25s cubic-bezier(.4,.01,.165,.99);
    content:'';
    position: absolute;
    background: #E9554C;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left center;
  }
  .details__listItem-link-wrapper:hover span:after {
    transform: scaleX(1);
  }

.non-product {
  background: #f1f9f9; 
  height: 100%;
  display: flex;
  flex-direction: column;
}
  .non-product_media {
    display: flex;
    justify-content: center;
  }
  .non-product_media img {
    height: 400px;
  }
  .non-product_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }
  .non-product_title {
    font: 60px/1 'Merriweather';
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .non-product_link {
    font: 16px/1.4 'Karla';
    color: #E9554C;
    text-decoration: none;
  }

  .non-product_link span {
    position: relative;
    z-index: 2;
  }

  .non-product_link span:after {
    transition: all .25s cubic-bezier(.4,.01,.165,.99);
    content:'';
    position: absolute;
    background: #E9554C;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left center;
  }
  .non-product_link:hover span:after {
    transform: scaleX(1);
  }

@media (max-width: 600px) {
  .app-details {
    flex-direction: column;
    overflow: auto;
    padding: 0;
  }
  .details__imgBack {
    left: 0;
    top: 0;
    right: auto;
  }

  .details__listItem-link-wrapper {
    width: 100%;
  }
  .non-product_title {
    font: 40px/1.4 'Merriweather';
    text-align: center;
    padding: 0 24px;
  }
  .details__img {
    width: 100%;
    height: auto;
  }
  .details__img-wrapper {
    position: fixed;
    height: 30%
  }
  .details__section-wrapper {
    padding: 24px;
    margin-top: calc(50% + 24px);
    -webkit-overflow-scrolling: touch;
  }
  .details__listItem {
    width: 100%;
  }
}